.DS_Store
composer.phar
###> symfony/framework-bundle ###
.env
/.env.local
/.env.local.php
/.env.*.local
.env.*
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
symfony.lock
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###< PHP STORM REMOVE ###
.idea
